.big-icon {
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 0px;
}


body {
  background-color: #142850;
}

.contact-btn {
  margin-left: auto;
  font-size: 2rem;
  border-radius: 40px;
  color: #EEEEEE !important;
  border-width:3px;
  border-style:solid;
  border-color:#F4F9F9;
  display: inline-block;
  border-radius: 40px;
  padding: 4px;
  margin-top: 10px;
}

.contact-btn:hover {
  background-color: black;

}

.contact-link:hover {
  text-decoration: none;
}


.contact-text {
  padding: 20px;
  color: #F4F9F9;
}

.navbar-color {
  background-color: #142850;
}

.borderig {
  border-width:3px;
  border-style:solid;
  border-color:#FF0000;
  display: inline-block;
  border-radius: 40px;
}

.greeting {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12rem;
}

.intro {
  margin-left: 130px;
  color: #F4F9F9
}

.occupation {
  font-size: 3rem;
}

.sub-title {
  margin-top: 0px;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 20px;
}

.me {
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;
  color: #F4F9F9;
}

.name {
  color: #00fefa;
}

.description {
  color: #1FAB89;
  display: inline-block;
}

.hover-effect {
  color: #DFF4F3;
  cursor: pointer;
}
